///COLOR;
$color-grey:#777777;
$color-darkgrey:#222222;
$color-greybgc: #f9f9f9;
$color-white: #fff;
$color-green: #7cc576;

///NAV
$margin-center: 0 auto;

//header
$margin-p: 30px 0px 30px 0px;

//services
$font-mont:Montserrat;
$padding-sections: 70px 0px 70px 0px;