nav {
    // height: 30px;
    max-width: 940px;
}

.nav {
    @include box-flex(row, space-between);
    height: 50px;
    transition: .3s;
}

.menu {
    display: none;
    // @include box-flex(column, space-around);
    list-style: none;
}

.menu li {
    width: 30%;
    margin: $margin-center;
    padding: 3px;
}

.menu a {
    display: block;
    color: $color-grey;
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    padding: 3px;
    transition: .2s;
    text-align: center;
    width: 100%;
}

li a:hover {
    transform: scale(1.2)
}

.active nav {
    height: 200px;
}

.active .menu {
    display: block;
}

.off {
    display: none;
}

.hamburger {
    font-size: 24px;
    margin-right: 10px;
    z-index: 999;
    // display: none;
}

.logo {
    @include box-flex(row, left);
    text-decoration: none;

    .logo__text {
        font-size: 18px;
        font-weight: 700;
        line-height: 41px;
        text-transform: uppercase;
        color: $color-darkgrey;
        /* Text style for "T, reehous" */
        letter-spacing: -0.45px;
    }

    .logo__img {
        position: relative;
        background-color: $color-green;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        margin: 0px 5px 0px 10px;
    }

    img {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

}

/* ----------------------------------- */
/* ---------- MEDIA QUERIES ---------- */
/* ----------------------------------- */
@media(min-width:750px) {
    .menu li a {
        font-size: 18px;
        margin-right: 20px;
    }

    nav {
        @include box-flex(row, space-between);
        height: 80px;
        margin: $margin-center;
    }

    .logo {
        line-height: 80px;
    }

    .hamburger {
        display: none;
    }

    .menu {
        @include box-flex(row, space-around);
    }

    .active .menu {
        @include box-flex(row, space-around);
    }
}

@media(min-width:1300px) {

    .menu li a {
        font-size: 20px;
        margin-right: 20px;
    }
}